.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 1rem;
    color: #ddd;
    text-align: center;
}